@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    font-size: calc(100vw/6.4);
    -webkit-font-size: calc(100vw/6.4);
    height: 100%;
}

.all {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #faf7f2; */
}

.no_1 {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/bg.png) no-repeat top/100% 100%;
}

.no_1 #btn {
    width: 4.24rem;
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_1 #fu {
    width: 2.27rem;
    position: absolute;
    bottom: 3.85rem;
    left: 1.2rem;
}

.no_1 #tip {
    width: 5.78rem;
    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_1 .no_1_p1 {
    text-align: center;
    width: 100%;
    font-size: 0.4rem;
    color: #f98626;
    position: absolute;
    bottom: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/bg2.jpg) no-repeat top/100% 100%;
}

.no_2 .no_2_p1 {
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
    font-size: 0.36rem;
    color: #f44f4f;
}

.no_2 .no_2_p2 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.36rem;
    color: #f98423;
}

.no_2 .no_2_p3 {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.36rem;
    color: #000000;
}

.no_2 .no_2_tiao {
    background-color: #f98423;
    width: 5rem;
    height: 0.6rem;
    /* z-index: 1; */
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_2 .lock {
    width: 1.56rem;
    position: absolute;
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_2 .bottom_tip {
    width: 5.68rem;
    position: absolute;
    bottom: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.no_2 .no_2_tin {
    position: absolute;
    top: 4rem;
    width: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

li {
    list-style: none;
}

.no_2 .no_2_tin .tin {
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 0.34rem;
}

.no_2 .no_2_tin ul {
    margin-top: 1rem;
    width: 100%;
}

.no_2 .no_2_tin ul li {
    width: 100%;
    height: 0.5rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
    color: #000000;
    text-align: left;
    font-size: 0.34rem;
    border-radius: 0.1rem;
    padding: 0 0.2rem;
    border: 1px solid #f98423;
    position: relative;
}

.no_2 .no_2_tin ul li img {
    height: 0.36rem;
    position: absolute;
    right: 0;
}

.no_3 ,.no_4,.no_5{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.no_3>.no_3_all,
.no_4>.no_4_all,
.no_5>.no_5_all{
    width: 5.6rem;
    height: 6rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.no_4>.no_4_all{
    background-color: #fff;
    border-radius: 0.3rem;
    text-align: center;
}
.no_3>.no_3_all>.no_3_img1,
.no_5>.no_5_all>.no_5_img1{
    width:0.6rem ;
    position: absolute;
    top: 0;
    right: 0;
}
.no_3>.no_3_all>.no_3_dd,
.no_5>.no_5_all>.no_5_dd{
    width: 100%;
    height: 4.9rem;
    position: absolute;
    top: 1.1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    text-align: center;
}
.no_5>.no_5_all>.no_5_dd{
    background: url(../img/pop_bg.png) no-repeat top/100%;
}

.no_3>.no_3_all>.no_3_dd>.no_3_dd_p1,
.no_5>.no_5_all>.no_5_dd>.no_5_dd_p1{
    font-size: 0.4rem;
    color: #ea6182;
    margin-top: 0.4rem;
}
.no_3>.no_3_all>.no_3_dd>.no_3_dd_p2,
.no_5>.no_5_all>.no_5_dd>.no_5_dd_p2{
    font-size: 0.3rem;
    line-height: 0.5rem;
    margin-bottom: 0.4rem;
    color: #f98423;
}
.no_3>.no_3_all>.no_3_dd>img{
    width: 1.57rem;
}
.no_5>.no_5_all>.no_5_dd>img{
    width: 4rem;
}
.no_3>.no_3_all>.no_3_dd>.no_3_dd_p3{
    width: 2rem;
    height: 0.6rem;
    font-size: 0.4rem;
    line-height: 0.6rem;
    margin: 0 auto;
    background-color: #f98423;
    color: #fff;
    border-radius: 0.3rem;
}

.no_4_p1{
    font-size: 0.4rem;
    color: rgb(244,172,107);
    line-height: 1rem;
}
.no_4_img1{
    width: 0.54rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

}
.no_4_img2{
    width: 2.29rem;

}
.no_4_p2{
    font-size: 0.4rem;
    color: rgb(244,172,107);
    position: absolute;
    top: 2.1rem;
    left: 3rem;
    font-weight: bold;
}
.no_4_p3,.no_4_p4{
    font-size: 0.32rem;
    color: rgb(244,172,107);
}

.no_4_p5{
    font-size: 0.32rem;
    color:rgb(243,148,139);
    margin: 0.4rem 0;
    text-decoration: underline;
}

.no_5_dd_p3{
    width: 1.6rem;
    height: 0.6rem;
    font-size: 0.32rem;
    line-height: 0.6rem;
    margin: 0 auto;
    background-color: #f98423;
    color: #fff;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.8rem;
}
.no_5_dd_p4{
    width: 1.6rem;
    height: 0.6rem;
    font-size: 0.32rem;
    line-height: 0.6rem;
    margin: 0 auto;
    background-color: #f98423;
    color: #fff;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.8rem;
}