@charset "utf-8";
@media(min-width:769px){
    .nav4{
        display: none;
    }
    .main33{
        display: none;
    }
}
@media (max-width:768px){
    html{
        font-size: calc(100vw /720 * 100);
    }
    .active{
        background: #96c6e0;
        color :#fff;
    }
    .nav1{
        display: none;
    }
    .nav2{
        position: fixed;
        top: 0;
        left: 50%;
        display: block;
        width: 6.8rem;
        transform: translate(-50%, 0);
        z-index: 99;
    }
    .nav2-1{
        float: left;
    }
    .nav2-1 img{
        margin-left: 0.2rem;
        margin-top: .28rem;
        width: .58rem;
        height: .63rem;
    }
    .nav2-2{
        float: right;
        margin-right: .2rem;
    }
    .nav2-2 button{
        margin-top: .3rem;
        font-size: 0rem;
        width: 0.6rem;
        height: 0.5rem;
        border: none;
        background: none;
    }
    .nav2-2 button span{
        margin-bottom: 0.1rem;
        display: inline-block;
        width: 0.6rem;
        height: .1rem;
        background: #ffffff;
    }
    .nav4{
        display: none;
        width: 100%;
        position: fixed;
        z-index: 99;
        height: 100%;
        top: 0%;
        background: rgba(0, 0, 0, .5);
    }
    .nav4>ul>li:nth-child(1){
        border-bottom: 1px solid #e6e6e0;
    }
    .nav4>ul>li:nth-child(2){
        border-bottom: 1px solid  #e6e6e0;
    }
    .nav4>ul>li:nth-child(3){
        border-bottom: 1px solid  #e6e6e0;
    }
    .nav4>ul>li:nth-child(4){
        border-bottom: 1px solid  #e6e6e0;
    }
    .nav3{
        width: 100%;
        box-sizing: border-box;
        padding: 0 .2rem;
        margin: 0 auto;
        background: #ffffff;
    }
    .nav3>.nav2-2>button>span{
        background: #434c5f;
    }
    .nav4 ul{
        background: #eeeeee;
        line-height:1.2rem;
        font-size: .24rem;
        text-align: center;
        width: 100%;
        float: left;
    }
    .header{
        background: url(../bg1.jpg) no-repeat top/19.2rem 8rem;
        height: 8rem;
    }
    .header1 {
        padding: 0;
        width:6.8rem;
        margin: 0 auto;
        margin-top: 1.14rem;
        box-sizing: border-box;
    }
    .header1 p:first-child {
        font-size:.8rem;
        line-height: .8rem;
        color: #ffffff;
    }
    
    .header1 p:last-child {
        margin-top: .2rem;
        font-size: 0.5rem;
        line-height: .5rem;
        letter-spacing: 0px;
        color: #434c5f;
    }
    .header2{    
    width: 6.8rem;
    margin:  0 auto;
    margin-top: 2.94rem;
    padding-bottom: .38rem;
    }
    .header2 ul{
        display: flex;
        justify-content: space-between;
    }
    .header2 ul li{
        text-align:center;
        width: 25%;
        padding: 0;
        padding-top: .61rem;
        font-size: .2rem;
    }
    .header2 ul li p {
        font-size: .2rem;
        color: #434c5f;
    }
    .header2 ul li:nth-child(1) {
        margin-right: 0;
        background: url(../img/01.png) no-repeat 50% 0/.46rem .46rem;
    }
    
    .header2 ul li:nth-child(2) {
        margin-right: 0px;
        background: url(../img/02.png) no-repeat 50% 0/.38rem .46rem;
    }
    
    .header2 ul li:nth-child(3) {
        margin-right: 0px;
        background: url(../img/03.png) no-repeat 50% 0/.46rem .41rem;
    }
    
    .header2 ul li:nth-child(4) {
        background: url(../img/04.png) no-repeat 50% 0/.46rem .4rem;
    }
    .main-1 {
        overflow: hidden;
        width: 100%;
        background:
            url(../img/02-ding.jpg) no-repeat 50% 0/7.2rem ,
            url(../img/02-di.jpg) no-repeat 50% 100%/7.2rem;
    }
    
    .main1 {
        box-sizing: border-box;
        padding: 0 .2rem;
        width: 6.8rem;
        margin: 0 auto;
        border: 0.01rem solid transparent;
    }
    
    .main1 p:first-child {
        margin-top: .87rem;
        text-align: center;
        font-weight: bold;
        font-size: .3rem;
        line-height: .3rem;
        letter-spacing: 0px;
        color: #333333;
    }
    .main1 p:last-child {
        margin-top: .22rem;
        text-align: center;
        font-size: .2rem;
        line-height: .2rem;
        letter-spacing: 0px;
        color: #999999;
    }
    .main2 {
        font-size: 0;
        width:6.8rem;
        padding: 0 .3rem;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: .29rem;
        display: flex;
        justify-content: space-between;
    }
    .main2 img{
        width: 2.12rem;
    }
    .main2 img:nth-child(4),.main2 img:nth-child(5){
        display: none;
    }
    .main3{
        display: none;
    }
    .main33{
        width: 6.8rem;
        padding: 0 .6rem;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: .8rem;
        display: block;
    }
    .main33 ul{
        letter-spacing: -0.01rem;
        width: 2.4rem;
        text-align: center;
        line-height: .8rem;
        float: left;
        font-size: .2rem;
    }
    .imgright img{
        position: absolute;
        display: block;
            width: 2.4rem;
            height: 2.4rem;
            padding: .2rem;
            background-color: #ffffff;
    }
    .imgright{
        width: 3.2rem;
        height: 3.2rem;
        box-sizing: border-box;
        padding: .4rem;
        background-color: #96c6e0;
        position: relative;
        float: left;
        margin-bottom: 1.5rem;
    }
    .main-2 {
        background: url(../img/cai2_03.jpg) no-repeat top/19.2rem 6.5rem;
        width: 100%;
        overflow: hidden;
    }
    
    .main4 {
        width: 6.8rem;
        margin: 0 auto;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid transparent;
    }
    
    .main4 p:first-child {
        margin-top:.67rem;
        font-size: .3rem;
        line-height: .3rem
    }
    
    .main4 p:last-child {
        margin-top: .21rem;
        font-size: .2rem;
        line-height:.24rem;
    }
    
    .main5 {
        width: 100%;
        margin: 0 auto;
        margin-top:1rem;
        padding: 0 .5rem;
        box-sizing: border-box;
        position: relative;
    }
    
    .swiper-container {
        text-align: center;
        line-height: .5rem;
        font-size: .16rem;
        color: #ffffff;
        width:5.4rem;
        margin: 0 auto; 
        position: static;
    }
    .swiper-slide{
        margin-bottom: 0;
    }
    .swiper-slide img{
        width: 5.4rem;
        height: 2.4rem;
    }
    .swiper-button-prev {
        margin-top: -.22rem !important;
        width: .27rem!important;
        height: .44rem !important;
        left: 0;
        top: 40%;
        background: url(../img/prev.png) no-repeat 0 0/.27rem .44rem !important;
    }
    
    .swiper-button-next {
        margin-top: -.22rem !important;
        width: .27rem!important;
        height: .44rem !important;
        top: 40%;
        right: 0;
        background: url(../img/next.png) no-repeat
        0 0/.27rem .44rem !important;
    }
    .main-3{
        background: url(../img/cai2_04.jpg) no-repeat top/19.2rem 6.5rem;
        width: 100%;
        box-sizing: border-box;
        height: 6.5rem;
    }
    .main6{
        width: 5.5rem;
        margin: 0 auto;
        
    }
    .main6 p:first-child {
        font-size: .3rem;
        line-height: .3rem;
        font-weight: bold;
        margin-top: .6rem;
    }
    
    .main6 p:last-child {
        margin-top: 0.2rem;
        font-size: 0.2rem;
        line-height: 0.25rem;
        color: #999999;
    }
    .main-4 {
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 6rem;
        background: url(../img/cai2_05.jpg) no-repeat center /19.2rem 6rem;
        box-sizing: border-box;
        border: 0.01rem solid transparent;
    }
    
    .main7 {
        width: 5.5rem;
        margin: 0 auto;
    }
    
    .main7 p {
        line-height: 0.3rem;
        letter-spacing: 0rem;
        color: #353952;
        font-size: 0.3rem;
        margin-top: 0.67rem;
    }
    .main-5 {
        overflow: hidden;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        border: 0.01rem solid transparent;
    }
    
    .main8 {
        width: 7rem;
        margin: 0 auto;
    }
    
    .main8 p {
        margin-top: 0.68rem;
        margin-bottom: 0.63rem;
        font-size: 0.3rem;
        line-height: 0.3rem;
        letter-spacing: 0rem;
        color: #333333;
    }
    
    .main9 {
        width: 7rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border: 0.01rem solid transparent;
        margin-bottom: 1rem;
    }
    .main9 img{
        width: 2.2rem;
        height: .7rem;
    }
    .main9 img:nth-child(4),.main9 img:nth-child(5){
        display: none;
    }
    .main10 {
        box-sizing: border-box;
        border: 0.01rem solid transparent;
        width: 7rem;
        margin: 0 auto;
        border-top: 0.01rem solid #cccccc;
    }
    
    .main10 p {
        font-size: 0.16rem;
        line-height: 0.24rem;
        letter-spacing: 0rem;
        color: #333333;
        margin: 0.14rem 0 0.33rem 0;
    }
}
