@charset "utf-8";

html {
    font-size: calc(100vw / 720 * 100);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* 兼容性 */
    -webkit-tap-highlight-color: transparent;
    /*清除移动端高亮效果*/
}

body {
    color: #333;
    font-family: "微软雅黑", sans-serif;
    /*移动端常见字体样式 :sans-serif*/
}

input,
textarea {
    text-align: center;
    outline: none;
    /*清除input轮廓样式*/
    border: none;
    /*清除边框*/
    resize: none;
    /*禁止用户调整大小*/
    /*清除移动端(苹果)输入框立体效果*/
    -webkit-appearance: none;
}

.container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 3.2rem;
    background: url(../xj/bg.jpg) no-repeat bottom/100%;
    transition: background 4s linear;
}

img {
    position: absolute;
}

.first,
.second,
.third,
.forth,
.fifth {
    position: absolute;
    width: 100%;
    height: 100%;
}

.second,
.third,
.forth,
.fifth {
    display: none;
}

/* first区域样式开始 */
.yun1 {
    width: 7.2rem;
    height: 4.8rem;
    bottom: 2.74rem;
}

.yun2 {
    width: 7.2rem;
    height: 5.74rem;
    bottom: 0rem;
}

.yun3 {
    bottom: 7rem;
    width: 7.2rem;
    height: 1.31rem;
}

.yun4 {
    width: 7.2rem;
    height: 2.56rem;
    bottom: 0;
    z-index: 101;
}

.first_p1 {
    letter-spacing: 0.25rem;
    text-indent: 0.25rem;
    font-weight: 100;
    width: 100%;
    font-size: .4rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 1.7rem;

}

.first_p1::after {
    position: absolute;
    top: 40%;
    left: 1.3rem;
    content: "";
    display: block;
    width: 1rem;
    height: 0.03rem;
    background: #fff;
}

.first_p1::before {
    position: absolute;
    top: 40%;
    left: 4.9rem;
    content: "";
    display: block;
    width: 1rem;
    height: 0.03rem;
    background: #fff;
}

.first_p2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 2.3rem;
}

.first_p3 {
    width: 1.8rem;
    text-align: center;
    font-size: .4rem;
    color: #0c8f8d;
    position: absolute;
    top: 6.8rem;
    z-index: 100;
    left: 50%;
    transform:translateX(-50%);
}

.word {
    width: 5rem;
    margin: 1.5rem auto 0;
    display: none;
    color: white;
}

.word p:nth-child(1) {
    font-size: 0.3rem;
}

.word p:nth-child(2) {
    font-size: 0.3rem;
}

.word p:nth-child(3) {
    font-size: 0.16rem;
    text-align: right;
}

.word2 {
    background: url(../qt/top2.png) no-repeat 0 0/0.76rem;
    width: 5rem;
    margin: 1.5rem auto 0;
    display: none;
}

.word2 p {
    padding-left: 1rem;
    color: white;
    font-size: 0.3rem;
    font-weight: bold;
}

.word2 p:nth-child(3) {
    font-size: 0.16rem;
    padding: 0;
    letter-spacing: 0.02rem;
    font-weight: 200;
    margin-top: 0.3rem;
    text-align: center;
}

.word3 {
    background: url(../qt/top3.png) no-repeat 0 0/0.76rem;
    width: 5rem;
    margin: 1.5rem auto 0;
    display: none;
}

.word3 p {
    padding-left: 1rem;
    color: white;
    font-size: 0.3rem;
    font-weight: bold;
}

.word3 p:nth-child(3) {
    font-size: 0.16rem;
    padding: 0;
    letter-spacing: 0.02rem;
    font-weight: 200;
    margin-top: 0.3rem;
    text-align: center;
}

.word4 {
    width: 5rem;
    margin: 1.5rem auto 0;
    display: none;
}

.word4 p {
    color: white;
    font-size: 0.3rem;
    font-weight: bold;
}

.word4 p:nth-child(4) {
    font-size: 0.16rem;
    padding: 0;
    letter-spacing: 0.06rem;
    font-weight: 200;
    margin-top: 0.3rem;
}

.topIMG {
    width: 7.2rem;
    top: 0.4rem;
}

.first_img {
    transition:  opacity 1500ms;
    width: .66rem;
    top: 9rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 11000;
    opacity: 0;
}

.first_in .first_img:nth-child(2) {
    top: 9.3rem;
}

.first .first_img:nth-child(3) {
    top: 9.6rem;
}

.first .first_img:nth-child(4) {
    top: 9.9rem;
}

.first_in {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gz1 {
    width: 0.7rem;
    height: 1rem;
    z-index: 111;
    bottom: 0;
    left: 3.2rem;
}


.img1 {
    bottom: 0;
    left: 2.6rem;
    width: 2rem;
    height: 0.58rem;
    z-index: 110;
}

.img2 {
    bottom: -3.18rem;
    left: 2.6rem;
    width: 1rem;
    height: 4.04rem;
    z-index: 109;
}

.img2-2 {
    bottom: -2.89rem;
    left: 2.12rem;

    width: 1rem;
    height: 4.04rem;
    z-index: 108;
}

.img3 {
    bottom: -3.33rem;
    left: 1.61rem;
    width: 2rem;
    height: 5.34rem;
    z-index: 107;
}

.img4 {
    bottom: -0.3rem;
    left: 1.35rem;
    width: 1.76rem;
    height: 3.02rem;
    z-index: 106;
}

.img5 {
    bottom: 0.412rem;
    left: 0.11rem;
    width: 1.76rem;
    height: 3.02rem;
    z-index: 105;
}

.img6 {
    bottom: -0.08rem;
    left: 0.84rem;
    width: 1rem;
    height: 4.21rem;
    z-index: 104;
}

.img7 {
    bottom: 0.66rem;
    left: 1.34rem;
    width: 1rem;
    height: 3.75rem;
    z-index: 103
}

.img8 {
    bottom: 0.7rem;
    left: 2.12rem;
    width: 1.63rem;
    height: 4.61rem;
    z-index: 92;
}

.img9 {
    width: 2.5rem;
    height: 5.71rem;
    left: 1.2rem;
    bottom: 2.1rem;
}

.img10 {
    width: 1.5rem;
    height: 6.34rem;
    left: 5.56rem;
    bottom: 1.4rem
}

.img11 {
    width: 1rem;
    height: 3.2rem;
    left: 6.7rem;
    z-index: 100;
    bottom: -0.4rem;
}

.yuan1 {
    z-index: 1000;
    left: 1.60rem;
    bottom: 3.9rem;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.1rem double white;

    transform-origin: 50%;
}

@keyframes big {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.8, 1.8);
    }

    100% {
        transform: scale(1, 1);
    }
}

.yuan2 {
    z-index: 1000;
    left: 4.06rem;
    bottom: 5.9rem;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.1rem double white;
}

.yuan3 {
    z-index: 1000;
    left: 5.52rem;
    bottom: 3.4rem;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.1rem double white;
}

.yuan4 {
    z-index: 1000;
    left: 3.3rem;
    bottom: 2.9rem;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.1rem double white;
}

.third-1 {
    width: 1.26rem;
    height: 3.45rem;
    bottom: 1.4rem;
    left: 0.84rem;
    z-index: 91;
}

.third-2 {
    width: 1.26rem;
    height: 3.423rem;
    bottom: 1.84rem;
    left: 1.588rem;
    z-index: 90;
}

.third-3 {
    width: 1.26rem;
    height: 3.423rem;
    bottom: 2.266rem;
    left: 2.328rem;
    z-index: 89;
}

.third-4 {
    width: 1.26rem;
    height: 3.423rem;
    bottom: 2.678rem;
    left: 3.06rem;
    z-index: 88;
}

.third-5 {
    width: 1rem;
    height: 3.75rem;
    bottom: 2.65rem;
    left: 3.82rem;
    z-index: 87;
}

.third-6 {
    width: 1rem;
    height: 3.46rem;
    bottom: 1.8rem;
    left: .34rem;
    z-index: 86;

}

.third-7 {
    width: 0.68rem;
    height: 0.66rem;
    bottom: 5.24rem;
    left: .54rem;
    z-index: 100;

}

@keyframes piao {
    from {
        bottom: 5.24rem;
    }

    to {
        bottom: 5.5rem;
    }
}

@keyframes piao2 {
    from {
        bottom: 6.8rem;
    }

    to {
        bottom: 7.1rem;
    }
}

@keyframes piao3 {
    from {
        bottom: 4.2rem;
    }

    to {
        bottom: 4.5rem;
    }
}

.forth-1 {
    width: 1rem;
    height: 3.46rem;
    bottom: 3.53rem;
    left: 4.32rem;
    z-index: 85;
}

.forth-2 {
    width: 0.82rem;
    height: 0.73rem;
    bottom: 6.8rem;
    left: 4.42rem;
    z-index: 86;
}

.forth-3 {
    width: 1rem;
    height: 1.45rem;
    bottom: 4.68rem;
    left: 4.32rem;
    z-index: 87;
}

.forth-4 {
    bottom: -0.06rem;
    left: 3.82rem;
    width: 2rem;
    height: 5.34rem;
    z-index: 90;
}

.forth-5 {
    bottom: 0.4rem;
    left: 4.3rem;
    width: 1rem;
    height: 4.04rem;
    z-index: 99;
}

.forth-6 {
    bottom: 0.12rem;
    left: 4.78rem;
    width: 1rem;
    height: 4.04rem;
    z-index: 99;
}

.forth-7 {
    bottom: 0.14rem;
    left: 5.28rem;
    width: 1rem;
    height: 3.75rem;
    z-index: 100;
}

.fifth-1 {
    width: 1.26rem;
    height: 4.21rem;
    left: 5.79rem;
    bottom: 0.2rem;
}

.fifth-2 {
    width: 0.6rem;
    height: 0.84rem;
    left: 6rem;
    bottom: 4.2rem;
}

.fifth-3 {
    width: 0.76rem;
    height: 0.8rem;
    left: 5.04rem;
    bottom: 2.8rem;
    z-index: 100;
}

.fifth-4 {
    width: 1.26rem;
    height: 3.45rem;
    left: 4.3rem;
    bottom: -0.3rem;
    z-index: 100;
}

.fifth-5 {
    width: 1.26rem;
    height: 3.02rem;
    left: 3.56rem;
    bottom: 0.14rem;
    z-index: 100;
}

.fifth-6 {
    width: 1rem;
    height: 5.27rem;
    left: 3.06rem;
    bottom: -1.84rem;
    z-index: 93;
}

.main {
   
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}


.main_p {
    position: absolute;
    font-weight: 400;
    margin-top: 1rem;
    width: 100%;
    padding-left: 1rem;
    font-size: 0.3rem;
    color: white;
}

.main_p p:nth-child(2) span {
    font-size: 0.5rem;
    margin-top: 0.2rem;
}

.main_p p:nth-child(3) {
    margin-top: 0.3rem;
}
.main_img1 {
    width: 1.65rem;
    left: 0.43rem;
    bottom: 5.16rem;
}

.main_img2 {
    width: 2.1rem;
    left: 2.58rem;
    bottom: 6.65rem;
}

.main_img3 {
    width: 1.65rem;
    left: 5.2rem;
    bottom: 5.76rem;
}

.main>.main_1>input {
    padding-left: 0.4rem;
    font-size: 0.24rem;
    z-index: 100000;
    border-radius: 0.5rem;
    position: absolute;
    width: 1.8rem;
    height: 0.6rem;
    border: 1px solid white;
    background-color: transparent;
}

.main_inp1 {
    background: url(../xqt/rule.png) no-repeat 15% 50%/0.2rem;
    bottom: 0.6rem;
    left: 0.7rem;
}

.main_inp2 {
    background: url(../xqt/return.png) no-repeat 15% 50%/0.2rem;
    bottom: 0.6rem;
    left: 4.5rem;
}

.main_inp3 {
    background: url(../xqt/return.png) no-repeat 15% 50%/0.2rem;
    bottom: 11.8rem;
    left: 4.5rem;
}

.main_gz1 {
    width: 0.7rem;
    left: 0.92rem;
    bottom: 6.4rem;
}

.main_gz2 {
    width: 0.7rem;
    left: 3.34rem;
    bottom: 8.2rem;
}

.main_gz3 {
    width: 0.7rem;
    left: 5.75rem;
    bottom: 7rem;
}

.main input {
    border-radius: 0.1rem;
    color: white;
    position: absolute;
    width: 1.8rem;
    height: 0.4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.03rem solid rgba(255, 255, 255, 0.5);
}
.main_qiu {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: left 1.5s;
}
.main_qiu2 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: zhong  1.5s;

}
.main_qiu3 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: right  1.5s;
}
.main_qiu input {
    bottom: 5.3rem;
    left: 0.32rem;
}

.main_qiu2 input {
    bottom: 7.2rem;
    left: 2.7rem;
}

.main_qiu3 input {
    bottom: 6rem;
    left: 5.18rem;
}

@keyframes left {
    0% {
        transform-origin: left bottom;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes right {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes zhong {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}